<!DOCTYPE html>
<htmL>
    <head>

    </head>
    <body>
        <center>
             {{>header}}
             <h1 style="color:red">{{errormessage}}</h1>
             {{>footer}}
        </center>
    </body>
</htmL>