<!DOCTYPE html>
<htmL>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/img.jpg">
    </head>
    <body style="font-family:arial">
        <center>
            {{>header}}
            <img src="/images/img.jpg" style="margin-top:20px">
            {{>footer}}
        </center>
     
    </body>
</htmL>