<!DOCTYPE html>
<htmL>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/images/img.jpg">
    </head>
    <body style="font-family:Arial">
        <center>
            {{>header}}
           {{>footer}}
           <form style="margin-top:50px">
               <input placeholder="Location" style="padding:8px;border:1px solid gray">
               <button style="padding:8px;border:1px solid gray;color:white;background:gray;cursor:pointer">Search</button>
           </form>
           <p id="ps"></p>
           <p id="pn"></p>
        </center>
        <script src="/js/javascript.js"></script>
    </body>
</htmL>