<!DOCTYPE html>
<htmL>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/img.jpg">
    </head>
    <body style="font-family:arial">
        <center>
            {{>header}}
            <p>An weather server which uses mapbox and open weather for giving weather information.</p>
            <img src="/images/puru.jpg" style="margin-top:20px;width:300px;height:250px">
            {{>footer}}
        </center>
     
    </body>
</htmL>